parameters:
	ignoreErrors:
		-
			message: '#^Cannot access property \$value on mixed\.$#'
			identifier: property.nonObject
			count: 1
			path: src/Read/TransactionFactory.php

		-
			message: '#^Parameter \#1 \$value of method h4kuna\\Fio\\Read\\TransactionFactory\:\:castValue\(\) expects bool\|float\|int\|string\|null, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/Read/TransactionFactory.php

		-
			message: '#^Part \$id \(mixed\) of encapsed string cannot be cast to string\.$#'
			identifier: encapsedStringPart.nonString
			count: 1
			path: src/Read/TransactionFactory.php

		-
			message: '#^Access to an undefined property object\:\:\$original\.$#'
			identifier: property.notFound
			count: 1
			path: src/Read/TransactionList.php

		-
			message: '#^Argument of an invalid type mixed supplied for foreach, only iterables are supported\.$#'
			identifier: foreach.nonIterable
			count: 1
			path: src/Read/TransactionList.php

		-
			message: '#^Cannot access property \$dateEnd on mixed\.$#'
			identifier: property.nonObject
			count: 1
			path: src/Read/TransactionList.php

		-
			message: '#^Cannot access property \$dateStart on mixed\.$#'
			identifier: property.nonObject
			count: 1
			path: src/Read/TransactionList.php

		-
			message: '#^Cannot access property \$transaction on mixed\.$#'
			identifier: property.nonObject
			count: 6
			path: src/Read/TransactionList.php

		-
			message: '#^Method h4kuna\\Fio\\Read\\TransactionList\:\:getInfo\(\) should return stdClass but returns mixed\.$#'
			identifier: return.type
			count: 1
			path: src/Read/TransactionList.php

		-
			message: '#^Parameter \#1 \$source\|item of method h4kuna\\Fio\\Read\\TransactionFactory\:\:create\(\) expects stdClass\|T of object, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/Read/TransactionList.php

		-
			message: '#^Parameter \#1 \$value of function count expects array\|Countable, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/Read/TransactionList.php

		-
			message: '#^Parameter \#1 \$value of function strval expects bool\|float\|int\|resource\|string\|null, mixed given\.$#'
			identifier: argument.type
			count: 2
			path: src/Read/TransactionList.php
